rules_version = '2';

// Helper function to check for admin role
function isAdmin() {
  return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
}

service cloud.firestore {
  match /databases/{database}/documents {

    // Ads can be read by anyone, but only created/modified by their owner or an admin.
    match /ads/{adId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.userID || isAdmin();
    }

    // User profiles can be read by anyone. Users can only modify their own profile. Admins can modify any profile.
    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId || isAdmin();
    }

    // Drafts can only be read/written by their owner.
    match /drafts/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    
    // Feedback can be created by any authenticated user. Admins can read all feedback.
    match /feedback/{feedbackId} {
      allow read: if isAdmin();
      allow create: if request.auth != null;
    }
  }
}
